@charset "UTF-8";

body{
background-color: rgb(11, 88, 241);
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
}
h1{
    color: maroon;
    background-color: rgb(223, 215, 195);
}
h2{
    color: rgb(148, 243, 203);
}
p{
    text-align: justify;
}